.header {
  position: sticky;
  //visuals:
  @include footer_or_header;
  //display:flex or grid
  @include header_flex_or_grid;
  top: 0;
  a {
    font-size: 20px;
    //anchor visuals
    @include footer_or_header_anchor;
  }
  &__nav {
    
    ul {
      list-style: none;
      padding-left: 0px;
      //display flex or block (or hidden)
      @include ul_flex_or_block;
      color: $header-nav;
      justify-content: space-around;
    }
  }
  @include footer_or_header_hidden;
  #hamburger{
    justify-self: end;
  }
}

.opening {
  &__text-element {
    align-self: center;
  }
}

.footer {
  @include footer_or_header;
  //@include footer_or_header_hidden;
  display: flex;

  flex-direction: column;
  a {
    @include footer_or_header_anchor;
  }
}

.gridlike {
  display: grid;
  @include gridflip;
  justify-content: space-between;
  article {
    @include grid_item;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .content {
      @include gridimg;
    }
    .redirect {
      margin-top: auto;
    }
  }
}

.grid-column {
  display: grid;
  @include grid-column-focus;
  justify-content: center;
  &__grid-item {
    @include grid_item;
    justify-content: center;
    display: flex;
    flex-direction: column;
    label {
      padding-top: 10px;
    }
    button {
      margin-top: 10px;
      width: 50%;
      align-self: center;
    }
  }
}
