.header {
  position: sticky;
  top: 0;
  @include mobile_width {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  @include desktop_width {
    display: flex;
    flex-direction: row;
  }
  &__nav {
    @include mobile_width {
      padding-left: 10px;
      background-color: black;
      grid-column: 1 / 3;
    }
    @include desktop_width {
      width: 80%;
    }
    ul {
      list-style: none;
      padding-left: 0px;
      @include mobile_width {
        li::before {
          content: "->   ";
          color: white;
        }
        display: block;
      }
      @include desktop_width {
        display: flex;

        justify-content: space-around;
      }
    }
  }
  &__logo {
    padding-left: 10px;
    @include desktop_width {
      width: 20%;
    }
  }
  #hamburger {
    justify-self: end;
    padding-right: 10px;
  }
}

.opening {
  &__text-element {
    align-self: center;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  @include mobile_width {
    &__logo {
      align-self: center;
    }
    &__hideable {
      display: none;
    }
  }
}

.gridlike {
  display: grid;
  @include gridflip;
  justify-content: space-between;
  article {
    @include grid_item;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .content {
      @include gridimg;
    }
    .redirect {
      margin-top: auto;
    }
  }
}

.grid-column {
  display: grid;
  @include grid-column-focus;
  justify-content: center;
  &__grid-item {
    @include grid_item;
    justify-content: center;
    display: flex;
    flex-direction: column;
    label {
      padding-top: 10px;
    }
    button {
      margin-top: 10px;
      width: 50%;
      align-self: center;
    }
  }
}
