$header-nav: white;
$header-footer: blue;

:target::before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}

section {
  border-bottom: 1px black solid;
  padding: 10px;
  h1,
  h2 {
    text-align: center;
  }
}

footer a,
header a {
  color: $header-nav;
  text-decoration: none;
}

footer,
header {
  background-color: $header-footer;
  padding-left: 5px;
  color: $header-nav;
}

@mixin mobile_width {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin desktop_width {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin grid_item {
  padding: 10px;
  border: 0.1px solid grey;
  border-radius: 5px;
}

@mixin grid-column-focus {
  @media screen and (max-width: 599px) {
    grid-template-columns: 100%;
  }
  @media only screen and (min-width: 600px) {
    grid-template-columns: 50%;
  }
}

@mixin gridflip {
  @media screen and (max-width: 599px) {
    grid-template-rows: 32% 32% 32%;
    row-gap: 10px;
  }
  @media only screen and (min-width: 600px) {
    grid-template-columns: 32% 32% 32%;
  }
}

@mixin gridimg {
  @media screen and (max-width: 599px) {
    img {
      height: 30vw;
      width: 40vw;
    }
  }
  @media only screen and (min-width: 600px) {
    img {
      height: 15vw;
      width: 20vw;
    }
  }
}
